<p>
Machine learning has been used by computational biologists for decades,
but only more recently have developments in the field allowed for the
timely and accurate processing of image data. By leveraging and
augmenting the skills of domain experts, classification of images and
sub-regions is not only possible, but fast and reliable. This course
serves as an introduction to the application of machine learning to
image segmentation, making use of two powerful, free-to-use components:

1. Tensorflow 2.x – an open source machine learning platform used in
research, production, and everything in between,

2. Google Colaboratory – a browser based utility to run Python code with minimal setup
required.

We’ll use these components in a selection of hands-on demos
that could easily be adapted to work with participants’ own data. First,
we’ll walk through some machine learning image processing history. Next,
we’ll introduce and implement a convolutional neural network (CNN).
Finally, we’ll build upon CNN’s to discuss a more recent development in
model architecture, the U-Net.

Plan to attend all three sessions in the course.

</p>


