<div class="row">
  <div class="col-md-6">
    <h3>Wed Dec 7</h3>
    <table class="table table-striped">
      <tr> <td>1:00</td>  <td>Intro to the Workshop - Sessions and Covered Topics</td></tr>
      <tr> <td>1:20</td>  <td>Brief History of Early Machine Learning Development</td> </tr>
      <tr> <td>2:30</td>  <td>Break</td> </tr>
      <tr> <td>2:45</td>  <td>Short Multilayer Perceptron Example - Classifying Handwritten Digits </td></tr>
      <tr> <td>3:15</td>  <td>Introduction to Convolutional Neural Networks (CNN)</td></tr>
      <tr> <td>3:30</td>  <td>CNN example - Image Classification</td> </tr>
      <tr> <td>4:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Fri Dec 9</h3>
    <table class="table table-striped">
      <tr> <td>1:00</td>  <td>Review of CNNs for Whole Image Classification</td> </tr>
      <tr> <td>1:30</td>  <td>Introduction to the Keras functional API</td> </tr>
      <tr> <td>1:30</td>  <td>From Whole Images to Pixel-wise Classifications</td> </tr>
      <tr> <td>2:30</td>  <td>Break</td> </tr>
      <tr> <td>2:45</td>  <td>Introduction to U-Net Architecture</td></tr>
      <tr> <td>3:00</td>  <td>U-Net Example</td></tr>
      <tr> <td>3:15</td>  <td>Demo of a Production U-Net model</td> </tr>
      <tr> <td>4:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Tue Dec 13</h3>
    <table class="table table-striped">
      <tr> <td>1:00</td>  <td>Review of Demo U-Net Model</td> </tr>
      <tr> <td>1:30</td>  <td>Model Hyperparameters and Optimization</td> </tr>
      <tr> <td>2:30</td>  <td>Break</td> </tr>
      <tr> <td>2:45</td>  <td>Short Selection of Guided Exercises</td></tr>
      <tr> <td>4:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
